@import url('./reset.css');

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --prime-color: #4e75ff;
  --second-color: #808080;
  --prime-box-shadow: 0px 10px 13px -7px #000000,
    8px 3px 25px 2px rgba(108, 140, 255, 0);
}
body {
  font-family: Montserrat;
}
input {
  padding: 8px 16px;
  border-radius: 4px;
  font: inherit;
  border: 1px solid var(--second-color);
  box-shadow: var(--prime-box-shadow);
  transition: border outline var(--animation-duration) var(--timing-function);
}

input:hover {
  border: 1px solid #000000;
}

input:focus {
  border: inherit;
  outline: 1px solid var(--prime-color);
}
.search-form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.search-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: var(--prime-color);
  color: #ffff;
  padding: 8px 16px;
  border-radius: 8px;
  border-color: var(--prime-color);
  box-shadow: var(--prime-box-shadow);
  transition: transform background-color var(--animation-duration)
    var(--timing-function);
}
.search-btn:hover,
.search-btn:focus {
  background-color: #6c8cff;
  transform: scale(1.03);
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery-item {
  width: 360px;
  flex-flow: column;
  flex-wrap: wrap;
  margin: 0;
  transition: transform var(--animation-duration) var(--timing-function);
  border-bottom: 1px solid var(--second-color);
  border-left: 1px solid var(--second-color);
  border-right: 1px solid var(--second-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: var(--prime-box-shadow);
}
.gallery-item:hover {
  transform: scale(1.03);
}
.gallery-image {
  object-fit: fill;
  height: 200px;
  width: 100%;
}

.info-list {
  display: flex;
  justify-content: space-around;
}
.info-item {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px;
}
/* LOADER */

.loader {
  display: none;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: var(--prime-color);
  border-radius: 50%;
  position: relative;
  animation: roll 1s ease-in-out infinite alternate;
}
.visible {
  display: block;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid;
  border-color: var(--second-color) transparent;
}
@keyframes roll {
  0% {
    transform: translateX(-150%) rotate(0deg);
  }
  100% {
    transform: translateX(150%) rotate(360deg);
  }
}
